
/****** Object:  Database [FindFriend]    Script Date: 17-10-2024 10:17:15 ******/
CREATE DATABASE [FindFriend]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FindFriend', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FindFriend.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FindFriend_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FindFriend_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FindFriend].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FindFriend]
GO
/****** Object:  Table [dbo].[TblFriendships]    Script Date: 17-10-2024 10:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblFriendships](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FriendId] [int] NULL,
	[UserId] [int] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_TblFriendships] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblUser]    Script Date: 17-10-2024 10:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Email] [varchar](300) NULL,
	[Password] [varchar](500) NULL,
	[DOB] [datetime] NULL,
	[Designation] [varchar](100) NULL,
	[Gender] [varchar](10) NULL,
	[ProfilePicture] [varchar](300) NULL,
	[Country] [varchar](100) NULL,
	[FavoriteColor] [varchar](100) NULL,
	[FavoriteActor] [varchar](100) NULL,
 CONSTRAINT [PK_TblUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
